<template>
    <div>
        <div class="p-6 sm:px-20 bg-white border-b border-gray-200 space-y-4">
            <form-section @submitted="createUsers">
                <template #title>
                    Crea usuarios
                </template>
                <template #description>
                    Selecciona la cantidad de usuarios a crear
                    y añade el token
                </template>
                <template #form>
                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="quantity" value="Cantidad" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="number" id="quantity" v-model="quantity"/>
                    </div>
                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="token" value="Token" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="text" id="token" v-model="token"/>
                    </div>
                </template>
                <template #actions>
                    <jet-button>
                        Enviar
                    </jet-button>
                </template>
            </form-section>
            <form-section @submitted="updateUser">
                <template #title>
                    Actualizar Usuario
                </template>
                <template #description>
                    Actualiza los datos del usuario seleccionado
                </template>
                <template #form>
                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="name" value="Nombre" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="text" id="name" v-model="name"/>
                    </div>
                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="email" value="Email" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="text" id="email" v-model="email"/>
                    </div>
                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="password" value="Password" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="text" id="password" v-model="password"/>
                    </div>

                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="token" value="Token" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="text" id="token" v-model="token"/>
                    </div>
                </template>
                <template #actions>
                    <jet-button>
                        Enviar
                    </jet-button>
                </template>
            </form-section>
            <form-section @submitted="showAllUsers">
                <template #title>
                    Muestrar todos
                </template>
                <template #description>
                    Muestra todos los usuarios
                </template>
                <template #form>
                    <div class="col-span-6 sm:col-span-4">
                        <jet-label for="token" value="Token" />
                        <jet-input class="border-none shadow-lg rounded-lg" type="text" id="token" v-model="token"/>
                    </div>
                </template>
                <template #actions>
                    <jet-button>
                        Muestra
                    </jet-button>
                </template>
            </form-section>

        </div>

        <div class="bg-gray-200 bg-opacity-25 grid grid-cols-1 md:grid-cols-2">
            <table v-if="users" class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                <tr class="px-3 py-2 cursor-pointer text-sm font-bold" v-for="user in users" @click="details(user)">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <jet-button class="font-bold" @click="deleteUser(user)">
                            X
                        </jet-button>
                    </td>
                </tr>
            </table>
            <div class="p-4 m-4" v-if="selectedUser">
                <div class="text-2xl font-bold">Detalles del usuario</div>
                <div class="flex flex-col text-sm text-gray-500">
                    <div>Id: {{selectedUser.id}}</div>
                    <div>Nombre: {{selectedUser.name}}</div>
                    <div>Email: {{selectedUser.email}}</div>
                    <div>Creado a fecha de: {{selectedUser.created_at}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo.vue'
    import FormSection from "./FormSection";
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue'

    export default defineComponent({
        components: {
            FormSection,
            JetApplicationLogo,
            JetInput,
            JetInputError,
            JetLabel,
            JetButton
        },
        data(){
            return{
                quantity: 1,
                token: null,
                users: null,
                selectedUser: null,
                name: null,
                email: null,
                password: null,
            }
        },
        methods: {
            createUsers(){
                axios.default.post('/api/create-users', {
                    quantity: this.quantity,
                }, {
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                })
                    .then(response => this.users = response.data)
                    .catch(error => console.log(error));
            },
            details(user){
                axios.default.get('api/users/'+user.id, {
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                })
                    .then(response => this.selectedUser = response.data)
                    .catch(error => console.log(error));
            },
            deleteUser(user){
                axios.default.delete('api/users/'+user.id, {
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                })
                    .then(response => {
                        console.log(response);
                        let index = this.users.findIndex(u => user.id === u.id);
                        this.users.splice(index, 1);
                    })
                    .catch(error => console.log(error));
            },
            updateUser(){
                axios.default.put('api/users/'+this.selectedUser.id, {
                    name: this.name,
                    email: this.email,
                    password: this.password
                },{
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                })
                    .then(response => {
                        console.log(response);
                        let index = this.users.findIndex(u => this.selectedUser.id === u.id);
                        this.users.splice(index, 1, response.data);
                        this.selectedUser = response.data;
                    })
                    .catch(error => console.log(error));
            },
            showAllUsers(){
                axios.default.get('api/users', {
                    headers: {
                        'Authorization': 'Bearer ' + this.token
                    }
                })
                    .then(response => {
                        this.users = response.data;
                    })
                    .catch(error => console.log(error));
            }
        },
        watch: {
            selectedUser: function(nuevo, viejo) {
                this.name = nuevo.name;
                this.email = nuevo.email;
            }
        }
    })
</script>
